
// Font size
$base-font-size = 16px

$size-xs = 0.5rem
$size-sm = 0.75rem
$size-n = 1rem
$size-md = 1.5rem
$size-lg = 2rem
$size-xl = 2.5rem
$size-xxl = 3rem

.size-xs
  font-size $size-xs
.size-sm
h6
  font-size $size-sm
.size-n
h5
  font-size $size-n
.size-md
h4
  font-size $size-md
.size-lg
h3
  font-size $size-lg
.size-xl
h2
  font-size $size-xl
.size-xxl
h1
  font-size $size-xxl
// Font weight

$weight-thin = 100
$weight-extralight = 200
$weight-light = 300
$weight-regular = 400
$weight-medium = 500
$weight-semibold = 600
$weight-bold = 700
$weight-extrabold = 800
$weight-black = 900

.weight-thin
  font-weight $weight-thin
.weight-extralight
  font-weight $weight-extralight
.weight-light
  font-weight $weight-light
.weight-regular, h1, h2, h3, h4, h5, h6
  font-weight $weight-regular
.weight-medium
  font-weight $weight-medium
.weight-semibold
  font-weight $weight-semibold
.weight-bold
  font-weight $weight-bold
.weight-extrabold
  font-weight $weight-extrabold
.weight-black
  font-weight $weight-black

// Text Align
.text-center
  text-align center

.text-justify
  text-align justify

.text-left
  text-align left

.text-right
  text-align right

// Color
.color-primary
  color $color-primary

.color-link
  color $color-link